.homeTitle {
margin-left: 40px;
}

.homeLink {
  display: block;
  padding-left: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.homeItem :hover {
  color: #2196f3;
}
